*{
    margin 0;
    padding: 0;
}


.navbar-style
{
    box-shadow: 0 5px 10px;
    background-color:rgb(255, 255, 255);
    width: 100%;
      

}

.logo
{
    height: 75px;
    padding: 2px 10px;
}
.icon-bar
{
    background-color:black;
 }
.slide img
{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    position: absolute;
}
li a
{
color: black;
font-weight: bolder;
font-size: large;
margin-top: 15px;
}
.mit
{
    font-family: Magneto; 
    margin-top: 5px;
    margin-left:80px;
    font-weight: bolder;
    font-size: xx-large;
    color: black;"
    position: absolute;
}
.nutri
{
    font-family: Magneto; 
    margin-top: 30px;
    margin-left: -110px;
    font-weight: bolder;
    font-size: xx-large;
    color: black;"
    position: absolute;

}
.container-fluid
{
    width: 100%;
    margin-top: 0px;
    padding: 10px;
}